<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Suite">
<!--    <test name="Grouping tests">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="regression"/>-->
<!--                <include name="smoke"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="qa.tests.SeleniumWithTestNGIntellij"/>-->
<!--        </classes>-->
<!--    </test>-->
  <test name="Cross Browser Test Demo">
      <parameter name="browser" value="Chrome" />
      <classes>
<!--      <class name="qa.tests.SeleniumWithTestNGIntellij"/>-->
      <class name="automation.tests.WikipediaTests"/>
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->


